.section-contact .content-wrap {
  width: 1000px;
  margin: 16px auto;
}

.contact-list { 
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.contact-list .item {
  width: 300px;
  margin-right: 24px;
}

#form-ticket {
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 24px 8px;
}
