*{
  box-sizing: border-box;
}

body {
  margin: 0px;
}

a,p {
  font-family: 'Noto Sans', sans-serif;
  color: #111;
}

a {
  text-decoration: none;
}

h1,h2,h3 {
  font-family: 'Noto Sans', sans-serif;
}

/* Grid Layout */
.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 { width: 8.33% }
.col-2 { width: 16.66% }
.col-3 { width: 25% }
.col-4 { width: 33.33% }
.col-5 { width: 41.66% }
.col-6 { width: 50% }
.col-7 { width: 58.33% }
.col-8 { width: 66.66% }
.col-9 { width: 75% }
.col-10 { width: 83.33% }
.col-11 { width: 91.66% }
.col-12 { width: 100% }

.text-black { color: #111; }
.text-light { color: #eee; }
.text-gray { color: #aaa; }
.text-primary { color: #0074d9; }
.text-secondary { color: #2ecc40 }
.text-info { color: #39CCCC }
.text-warning { color: #ff851b }
.text-danger { color: #FF4136 }

a.btn {
  display: inline-block;
  text-decoration: none;
  padding: 12px 32px;
  border: 2px solid transparent;
  border-radius: 32px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
}

a.btn-primary {
  color: #111;
  border-color: white;
  background-color: white;
}

a.btn-secondary {
  color: #ddd;
  border-color: #000;
  background-color: #000;
}